Package: com.opa334.libsandy
Name: libSandy
Version: 1.0
Architecture: iphoneos-arm
Description: Securely extend the sandbox of system processes and user applications
Maintainer: opa334
Author: opa334
Section: System
Tag: role::developer
